<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <div class="container">
        <!-- Sidebar -->
        <aside class="sidebar">
            <div class="profile">
                <img src="../imagen/profile.jpg" alt="Profile Picture">
                <h3>Administrador</h3>
                <p>Administrator</p>
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="home.html">Inicio</a></li>
                    <li><a href="productos.html">Productos</a></li>
                    <li><a href="clientes.html">Clientes</a></li>
                    <li><a href="devoluciones.html">Devoluciones</a></li>
                    <li><a href="proveedores.html">Proveedores</a></li>
                    <li><a href="inventario.html">Inventario</a></li>
                    <li><a href="pagos.html">Pagos</a></li>
                    <li><a href="empleado.html">Empleados</a></li>
                    <li><a href="login.html">Salir</a></li>
                </ul>
            </nav>
        </aside>

        <!-- Main content -->
        <main class="main-content">
            <header>
                <h1>DASHBOARD</h1>
                <p>¡Bienvenido <strong>Administrador Principal</strong>! Este es el panel principal del sistema, acá podrá encontrar atajos para acceder a los distintos listados de cada módulo.</p>
            </header>

            <section class="dashboard-cards">
                <div class="card">
                    <img src="../imagen/caja.jpg" alt="Cajas" class="card-icon">
                    <h3>Dashboard ventas</h3>
                    <p>1 Registradas</p>
                </div>
                <div class="card">
                    <h3>Crear proveedor</h3>
                    <p>1 Registrados</p>
                </div>
                <div class="card">
                    <h3>Categorías</h3>
                    <p>1 Registradas</p>
                </div>
                <div class="card">
                    <h3>Usuarios</h3>
                    <p>0 Registrados</p>
                </div>
                <div class="card">
                    <h3>Clientes</h3>
                    <p>0 Registrados</p>
                </div>
                <div class="card">
                    <h3>Movimientos</h3>
                    <p></p>
                </div>
                <div class="card">
                    <h3>Ventas</h3>
                    <p></p>
                </div>
                <div class="card">
                    <h3>Devoluciones</h3>
                    <p></p>
                </div>
            </section>
        </main>
    </div>
</body>
</html>
